.exchange{
    padding: 60px 0;
}
.exchange__inner{
    display: flex;
    justify-content: space-around;
}


@media(max-width: 576px){
    .exchangeWindow{
        padding: 15px 15px;
    }
}


@media(max-width: 768px){
    .exchangeWindow__form{
        display: flex;
        justify-content: center;
    }
    .exchangeWindow__text{
        text-align: center;
    }
    .exchange__inner{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .exchange__exchangeWindow{
        margin-bottom: 20px;
    }
}